NEXT_PUBLIC_SITE_URL=https://vetiversansfrontieres.org
NEXT_PUBLIC_MEDIA_BASE_URL=
NEXT_PUBLIC_CONTACT_FORM_URL=
NEXT_PUBLIC_CONTACT_FORM_EMBED_URL=
NEXT_PUBLIC_NEWSLETTER_URL=
NEXT_PUBLIC_NEWSLETTER_EMBED_URL=
NEXT_PUBLIC_ANALYTICS_ID=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_ENDPOINT=
R2_PUBLIC_BASE_URL=
